// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trade_in {
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
  }
  #latest {
    position: relative;
    height: 100px;
    width:100px;
    top: 0%;
    right: 0%;
    bottom: 80%;
    left: 0%;
    z-index: 10;
  }

  .pictxt {
    position: absolute;
    top: 120%;
    left: 180%;
    width: 400px;
    color: #8b0000;
    font-size: 250%;
    font-weight: 120%;
    z-index: 15;
  }

  .entry {
    min-height: 100px;

    img {
      width: 80px;

      height: 100px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: absolute;
    }

    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #227;
    }

    p, div.price_line {
      margin-left: 100px;
      margin-top: 0.5em;
      margin-bottom: 0.8em;
    }

    .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
    }
  }
  table {
    border-collapse: collapse;
    float: left;
  }

  table tr td {
    padding: 20px;
    vertical-align: top;
  }

  .list_image_url {
    width: 90px;
    height: 120px;
  }

  .list_overview {
    width: 1100px;
  }

  dl {
    margin: 0;
  }

  dt {
    color: #213744;
    font-weight: bold;
    font-size: larger;
  }

  dd {
    margin: 0;
  }

  .list_actions {
    font-size: 		x-small;
    text-align:		right;
    padding-left:	1em;
  }

  .list_line_even {
    background: #009900
  }

  .list_line_odd {
    background: #66CC33
  }
}

